/* info div at top of the page */
div.top-info-bar
{
    position: relative;
    width: 100%;
    height: 25px;
    color: white;
}
div.info-to-r
{
    position: absolute;
    right: 0;
}
.top-info-bar .info-to-r ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.top-info-bar .info-to-r ul li
{
    font-weight: bold;
    font-size: 15px;
    display: inline-block;
    width: 200px;
}
.top-info-bar .info-to-r ul li button
{
    background-color: transparent;
    color: white;
    font-family: 'Oswald';
    border: none;
    cursor: pointer;
}
#login-back, #signup-back, #bs-back, #signup-bs-back
{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.596);
    z-index: 1;
}
.login-container, .signup-container
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    box-shadow: 0 0 3px 3px green;
    padding: 10px;
    text-align: center;
    font-family: 'Oswald';
    animation: 1s slidecon;
}
@keyframes slidecon 
{
    from{top: 30%; opacity: 0;}
    to{top: 50%; opacity: 1;}    
}
.login-container .login-head, .signup-container .login-head
{
    width: 100%;
}
.login-container .login-head p.greet, .signup-container .login-head p.greet
{
    font-size: 25px;
}
span.close
{
    cursor: pointer;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.login-container input, .signup-container input
{
    margin-bottom: 10px;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 12px;
    font-family: 'Oswald';
    outline: none;
}
button.login 
{
    padding: 8px 12px;
    background-color: green;
    color: white;
    font-family: 'Oswald';
    font-size: 18px;
    width: 100px;
    border: none;
    border-radius: 5px;
    height: 60px;
    cursor: pointer;
    margin: 5px;
}
button.login:hover
{
    animation: 0.2s fontmate;
    font-size: 22px;
}
@keyframes fontmate 
{
    from{font-size: 18px;}
    to{font-size: 22px;}    
}
.login-container button.signup
{
    background-color: transparent;
    color: black;
    text-decoration: underline;
    border: none;
    font-family: 'Oswald';
    font-size: 18px;
    cursor: pointer;
}

/* logo, menu, search and cart */
/* menu */
.menu
{
    display: block;
    width: 100%;
    background-image: linear-gradient(to left, green, rgb(0, 214, 96));
}
.logo-m-s-cart
{
    width: 800px;
    position: relative;
    margin: 0 auto;
}
.logo-m
{
    display: inline-block;
    width: 40%;
    float: left;
}
.logo-m .logo, .logo-m .m
{
    width: 50%;
    display: inline-block;
}
.logo-m .logo
{
    float: left;
} 
.logo-m .m
{
    position: relative;
    height: 160px;
    float: right;
}
.logo-m .m .m-sub
{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.logo-m-s-cart .logo img
{
    width: 150px;
}
.logo-m .m .m-sub button
{
    width: 100%;
    font-family: 'Bebas Neue';
    background-image: linear-gradient(to left, orange, green);
    color: white;
    border: none;
    height: 50px;
    font-size: 19px;
    cursor: pointer;
}
.logo-m .m .m-sub button:hover
{
    background-image: linear-gradient(to left, yellow, green);
}

.category
{
    position: absolute;
    background-color: white;
    z-index: 1;
    width: 300px;
    height: 450px;
    border: 2px solid black;
    display: none;
    animation: 1s slided;
}
@keyframes slided 
{
    from{height: 0;}
    to{height: 450px;}    
}
.category ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.category ul li
{
    width: 100%;
    padding: 10px 12px;
    animation: 5s showcat;
}
@keyframes showcat 
{
    from{opacity: 0;}
    to{opacity: 1;}    
}
.category ul li a
{
    width: 100%;
    text-decoration: none;
    font-family: 'Bebas Neue';
    font-size: 20px;
    color: rgb(58, 58, 58);
    display: block;
}


.cat-arrow
{
    display: none;
}
.category ul li a:hover
{
    margin-left: 20px;
    animation: 1s hovermation;
}
.category ul li a:hover .cat-arrow
{
    display: inline;
}

@keyframes hovermation 
{
    from{margin-left: 0;}
    to{margin-left: 20px;}    
}

.s-cart
{
    display: inline-block;
    width: 60%;
    float: right;
}
.s, .cart
{
    display: inline-block;
    height: 160px;
    position: relative;
}
.s
{
    width: 75%;
    float: left;
}
.shopping
{
    display: inline-block;
}
#shop-cart
{
    position: relative;
}
.shopping-list
{
    z-index: 1;
    padding: 5px;
    position: absolute;
    width: 250px;
    background-color: white;
    border: 2px solid black;
    display: none;
    right: 20px;
}
.shopping-list table
{
    width: 100%;
    margin-bottom: 5px;
}
.shopping-list table, .shopping-list td
{
    border: 1px solid grey;
    border-collapse: collapse;
}
.totalcartdrop
{
    text-align: left;
}
.shopping-list img
{
    width: 40px;
}
.cart
{
    text-align: center;
    width: 25%;
    float: right;
}
.s input[type='search']
{
    width: 100%;
    outline: none;
    font-family: 'Oswald';
    font-size: 19px;
    height: 50px;
    padding: 10px 12px;
}
.s .s-sub, .cart .cart-sub
{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.cart .cart-sub i
{
    font-size: 25px;
    cursor: pointer;
}
.cart .cart-sub span
{
    position: absolute;
    top: -10%;
    background-color: rgb(255, 72, 0);
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 3px 6px;
    border-radius: 50%;
}
.menu .menu-sub
{
    width: 800px;
    margin: 0 auto;    
}
.menu ul
{
    list-style: none;
    margin: 0;
    padding: 0;

}
.menu-sub ul li
{
    text-align: center;
    width: 24.5%;
    display: inline-block;
}
.menu .menu-sub ul li button
{
    width: 100%;
    border: none;
    padding: 10px 12px;
    background-color: transparent;
    color: white;
    font-family: 'Oswald';
    font-size: 18px;
    display: block;
}
.menu .menu-sub ul li button:hover
{
    cursor: pointer;
    font-weight: bold;
}

@media only screen and (max-width:600px)
{
    div.info-to-r, div.top-info-bar, .menu-sub
    {
        display: none;
    }
    .menu
    {
        position: relative;
        height: 150px;
    }
    .logo-m-s-cart
    {
        width: 100%;
    }
    .logo-m, .s-cart
    {
        width: 100%;
        display: block;
    }
    .logo-m .logo
    {
        width: 30%;
    }
    .logo-m .m
    {
        width: 70%;
    }
    .logo-m .logo, .logo-m .m
    {
        height: 70px;
    }
    .logo-m-s-cart .logo img
    {
        width: 70px;
    }
    .logo-m .m .m-sub button
    {   
        width: 80%;
    }
    .category
    {
        width: 200px;
    }
    .s, .cart
    {
        height: 70px;
    }
    .s input[type='search']
    {
        margin-left: 10px;
    }
}