.complain
{
    width: 700px;
    margin: 0 auto;
    font-family: 'Oswald';
    margin-top: 20px;
}
.complain fieldset
{
    text-align: center;
    padding: 20px;
}
.complain fieldset form
{
    width: 500px;
    margin: 0 auto;
}
.complain fieldset input
{
    resize: none;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 12px;
    outline: none;
    font-family: 'Oswald';
    margin-bottom: 10px;
}
.complain fieldset textarea
{
    font-family: 'Oswald';
    resize: none;
    width: 100%;
    outline: none;
    box-sizing: border-box;
    padding: 10px 12px;
    margin-bottom: 10px;
    height: 100px;
}
.complain fieldset button
{
    padding: 10px 12px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Oswald';
    font-size: 18px;
    width: 100px;
    height: 60px;
    cursor: pointer;
}
.complain fieldset button:hover
{
    font-size: 22px;
    animation: 1s fontmate;
}

.moredetails
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.moredetails div
{
    font-size: 22px;
    font-weight: bold;
}
.moredetails ul
{
    list-style: none;
}